<app-page-title title="Reportería"></app-page-title>

<div class="row">
  <div class="col-sm-6">
    <form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <div class="row">
          <div class="col-sm-3">
            <label for="fromNgbDate">Fecha inicio</label>
          </div>
          <div class="col-sm-9">
            <input
              id="fromNgbDate"
              type="date"
              class="form-control"
              formControlName="fromNgbDate"
              ngbDatepicker
              #fromPicker="ngbDatepicker"
              (click)="fromPicker.toggle()">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-sm-3">
            <label for="toNgbDate">Fecha fin</label>
          </div>
          <div class="col-sm-9">
            <input
              id="toNgbDate"
              type="date"
              class="form-control"
              formControlName="toNgbDate"
              ngbDatepicker
              #toPicker="ngbDatepicker"
              (click)="toPicker.toggle()">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-sm-3">
            <label for="departments">Departamentos</label>
          </div>
          <div class="col-sm-9">
            <ng-select
              id="departments"
              [multiple]="true"
              formControlName="departments">
              <ng-option *ngFor="let department of allDepartments" [value]="department.id">
                {{ department.name }}
              </ng-option>
            </ng-select>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-sm-3">
            <label for="users">Usuarios</label>
          </div>
          <div class="col-sm-9">
            <ng-select
              id="users"
              [multiple]="true"
              formControlName="users">
              <ng-option *ngFor="let user of allUsers" [value]="user.id">
                {{ user.fullName }}
              </ng-option>
            </ng-select>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-sm-3">
            <label for="reportType">Tipo</label>
          </div>
          <div class="col-sm-9">
            <ng-select
              id="reportType"
              formControlName="reportType">
              <ng-option *ngFor="let type of reportTypes" [value]="type.key">
                {{ type.name }}
              </ng-option>
            </ng-select>
          </div>
        </div>
      </div>

      <div class="form-actions">
        <button type="submit" class="btn btn-info">
          Descargar
        </button>
      </div>
    </form>
  </div>
</div>
