<app-page-title title="Centros de costo" [actions]="pageActions"></app-page-title>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Código</th>
    <th scope="col">Nombre</th>
    <th scope="col" class="text-center">Acciones</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let costCenter of costCenters; index as i">
      <th scope="row">{{ costCenter.code }}</th>
      <td>{{ costCenter.name }}</td>
      <td class="actions">
        <button class="action btn btn-outline-info" (click)="onEdit(costCenter.id)">
          <i class="fas fa-pencil-alt"></i>
        </button>
        <button class="action btn btn-outline-danger" (click)="onDelete(costCenter.id)">
          <i class="fas fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<app-edit-cost-center #costCenterModal></app-edit-cost-center>