<nav *ngIf="session" class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" routerLink="/">{{ title }}</a>

  <button class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#mainNavBar"
    aria-controls="mainNavBar"
    aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="isHeaderCollapsed = !isHeaderCollapsed">

    <span class="navbar-toggler-icon"></span>
  </button>

  <div [ngSwitch]="session.user.isAdmin" [ngbCollapse]="isHeaderCollapsed" class="collapse navbar-collapse" id="mainNavBar">
    <ul *ngSwitchCase="true" class="navbar-nav navbar-collapse">
      <li class="nav-item">
        <a class="nav-link" routerLink="/manage">Calendario</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/manage/table">Tabla</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/users">Usuarios</a>
      </li>
      <li *ngIf="session.user.isAdmin" class="nav-item">
        <a class="nav-link" routerLink="/cost-centers">Centros de Costo</a>
      </li>
      <li *ngIf="session.user.isAdmin" class="nav-item">
        <a class="nav-link" routerLink="/reporting">Reporte</a>
      </li>
    </ul>
    <ul *ngSwitchDefault class="navbar-nav navbar-collapse">
      <a class="nav-link" routerLink="/">Calendario</a>
    </ul>

    <ul class="navbar-nav navbar-right">
      <li class="nav-item">
        <a class="nav-link user-avatar">
          <i class="fas fa-user-circle"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">{{ session.user.fullName }}</a>
      </li>
      <li class="nav-item">
        <button class="btn btn-danger" (click)="logout()">
          <i class="fas fa-sign-out-alt"></i>
          Salir
        </button>
      </li>
    </ul>
  </div>
</nav>
