<nav *ngIf="session" class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand text-info" routerLink="/">{{ title }}</a>

  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#mainNavBar"
          aria-controls="mainNavBar">

    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse navbar-content text-action font-italic" id="mainNavBar">
    <ul class="navbar-nav">
      <li *ngIf="isAdmin" class="nav-item"
          data-toggle="collapse" data-target="#mainNavBar">
        <a class="nav-link" routerLink="/reporting">Reporte</a>
      </li>
      <li *ngIf="isProvider || isAdmin" class="nav-item"
          data-toggle="collapse" data-target="#mainNavBar">
        <a class="nav-link" routerLink="/manage">Calendario</a>
      </li>
      <li *ngIf="isProvider || isAdmin" class="nav-item"
          data-toggle="collapse" data-target="#mainNavBar">
        <a class="nav-link" routerLink="/manage/table">Tabla</a>
      </li>
      <li *ngIf="isAdmin" class="nav-item"
          data-toggle="collapse" data-target="#mainNavBar">
        <a class="nav-link" routerLink="/users">Usuarios</a>
      </li>
      <li *ngIf="isAdmin" class="nav-item"
          data-toggle="collapse" data-target="#mainNavBar">
        <a class="nav-link" routerLink="/departments">Departamentos</a>
      </li>
      <li *ngIf="isAdmin" class="nav-item"
          data-toggle="collapse" data-target="#mainNavBar">
        <a class="nav-link" routerLink="/cost-centers">Centros de Costo</a>
      </li>
      <li *ngIf="isEmployee" class="nav-item"
          data-toggle="collapse" data-target="#mainNavBar">
        <a class="nav-link" routerLink="/">Calendario</a>
      </li>
    </ul>

    <ul class="navbar-nav navbar-actions">
      <li class="nav-item">
        <a class="nav-link user-avatar">
          <i class="fas fa-user-circle"></i>
        </a>
      </li>
      <li class="nav-item user-name">
        <a class="nav-link">{{ session.user.fullName }}</a>
      </li>
      <li class="nav-item btn-logout"
          data-toggle="collapse" data-target="#mainNavBar">
        <button class="btn btn-cancel" (click)="logout()">
          <i class="fas fa-sign-out-alt"></i>
          Salir
        </button>
      </li>
    </ul>
  </div>
</nav>
