<div class="row">
  <div class="col-12">
    <h1 class="header">
      Usuarios

      <button class="btn btn-success float-right" routerLink="/users/new">
        <i class="fa fa-plus"></i>
        Agregar
      </button>
    </h1>
  </div>
</div>
  
<div class="user-container" *ngFor="let user of users;">
  <div class="card card-inverse">
    <div class="card-block">
      <div class="row">
        <div class="col-md-8 col-sm-8">
          <h2 class="card-title">{{user.name}}</h2>
          <p class="card-text">
            <strong>Departamento:</strong>
            {{ user.department ? user.department.name : ''}}</p>
          <p class="card-text">
            <strong>Rol:</strong>
            {{ user.roles && user.roles.length ? user.roles[0].name : ''}}
          </p>
          <button class="ntn btn-info" (click)="onEdit(user.id)">
            <i class="fas fa-pencil-alt"></i>
            Editar
          </button>
          <button class="ntn btn-danger" (click)="onDelete(user.id)">
            <i class="fas fa-trash"></i>
            Eliminar
          </button>
        </div>
        <div class="col-md-4 col-sm-4 text-center">
          <img
            class="btn-md"
            src="https://previews.123rf.com/images/prettyvectors/prettyvectors1309/prettyvectors130900060/22545994-user-profile-avatar-man-icon.jpg"
            alt=""
            style="width: 150px; border-radius:50%;">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="placeholder" *ngIf="!users.length">
  <h5 class="gray">Todavía no existen usuarios</h5>
</div>