<app-page-title title="Usuarios" [actions]="pageActions"></app-page-title>

<div class="table-warapper">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Usuario</th>
        <th scope="col">Rol</th>
        <th scope="col">Departamento</th>
        <th scope="col">Correo</th>
        <th scope="col">Foto</th>
        <th scope="col" class="actions text-center">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users;">
        <td class="align-middle">{{ user.fullName }}</td>
        <td class="align-middle">{{ user.username }}</td>
        <td class="align-middle">{{ user.role ? user.role.title : '' }}</td>
        <td class="align-middle">{{ user.department ? user.department.name : ''}}</td>
        <td class="align-middle">{{ user.email }}</td>
        <td>
          <div class="img-container">
            <img
              class="btn-md"
              [src]="fileUploader.downloadUrl + user.id + '?' + currentTime"
              (error)="userProfilePictureNotFound($event)"
              alt="profile-image"
              width="60"
              height="60"
              style="border-radius:50%;">
          </div>
        </td>
        <td class="actions align-middle text-center">
          <button class="action btn btn-outline-ok" (click)="onEdit(user.id)">
            <i class="fas fa-pencil-alt"></i>
          </button>
          <button class="action btn btn-outline-cancel" (click)="onDelete(user.id)">
            <i class="fas fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="placeholder" *ngIf="!users.length">
  <h5 class="gray">Todavía no existen usuarios</h5>
</div>
