<div *ngIf="error">{{error}}</div>

<div class="container">
  <div class="row align-middle">
      <div class="col-12 mt-5">
        <h2 class="text-center text-info">Inicio de sesión usando QR</h2>
        <div class="row">
          <div class="col-12 text-center" style="height: 60px">
            <img src="https://www.trouwnutrition.com/globalassets/nutreco-corporate1/corporate/corporate-2/logos/logo_trouw.jpg" alt="">
          </div>
        </div>
        <div class="circle-animation">
            <div class="pulsating-circle">
            </div>
            <span class="content-text">Acerca tu carnet al lector</span>
          </div>
      </div>
  </div>

  <div class="row mt-5">
    <div class="col-12 text-center">
      <button (click)="backToLogin()" class="btn btn-link col-auto">Iniciar sesión manual</button>
    </div>
  </div>
</div>
