form {
  div {
    margin: 15px;

    label {
      font-style: italic;
      margin-right: 10px;
      text-align: right;
      justify-content: center;
      width: 20%;
    }
    input, select, textarea, ng-select {
      align-self: flex-end;
      width: 70%;
    }
    select, ng-select {
      align-self: normal;
    }
  }
  .div-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.spinner {
  width: 5rem;
  height: 5rem;
  color: #bdce1dB2;
  margin: 15px 0;
}

.table-list {
  margin: 15px;
}

.dropdown-toggle::after {
  display:none;
}

.card-image-container {
  animation: shadow-pulse 1500ms 2;
  align-items: center;
}

.card-image-selected {
  height: 185px;
  width: 185px;
  margin: 15px;
}

.card-image-selector {
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-image {
  height: 120px;
  width: 120px;
}

@media (max-width: 575.98px) {
  form {
    div {
      label, input, select, textarea, ng-select {
        align-self: normal;
        text-align: left;
        width: 100%;
      }
      ng-select {
        div {
          align-self: normal;
          text-align: left;
          width: 100%;
        }
      }
    }
    .div-form {
      display: inherit;
    }
    .card-image {
      height: 80px;
      width: 80px;
    }
  }
}
