<div class="modal-header">
  <h3 class="modal-title text-info">{{ content.title }}</h3>
</div>

<div class="modal-body">
  <p class="lead" [innerHTML]="content.description"></p>
</div>

<div class="modal-footer">
  <button *ngIf="content.cancelText !== ''"
          type="button" class="btn btn-cancel"
          (click)="activeModal.dismiss(false)">{{ content.cancelText }}</button>
  <button *ngIf="content.confirmationText !== ''"
          type="button" ngbAutofocus class="btn btn-ok"
          (click)="activeModal.close(true)">{{ content.confirmationText }}</button>
</div>
