<div class="row">
  <div class="col-12">
    <h1 class="header">Crear usuario</h1>
  </div>
</div>

<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="form-group">
        <div class="row">
          <div class="col-sm-3">
            <label for="name">Nombre</label>
          </div>
          <div class="col-sm-9">
            <input
              id="name"
              type="text"
              class="form-control"
              formControlName="name">

              <div
                *ngIf="!userForm.get('name').valid && userForm.get('name').touched"
                class="error-message small">
                Campo requerido
              </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-sm-3">
            <label for="lastName">Apellidos</label>
          </div>
          <div class="col-sm-9">
            <input
              id="lastName"
              type="text"
              class="form-control"
              formControlName="lastName">

              <div
                *ngIf="!userForm.get('lastName').valid && userForm.get('lastName').touched"
                class="error-message small">
                Campo requerido
              </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-sm-3">
            <label for="birthday">Fecha Nacimiento</label>
          </div>
          <div class="col-sm-9">
            <input
              id="birthday"
              type="text"
              class="form-control"
              formControlName="birthdayNgbDate"
              ngbDatepicker
              #d="ngbDatepicker"
              (focus)="d.toggle()"
              (click)="d.toggle()"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-sm-3">
            <label for="departmentId">Departamento</label>
          </div>
          <div class="col-sm-9">
            <select
              id="departmentId"
              class="form-control"
              formControlName="departmentId">
              <option value="">Selecciona una opción</option>
              <option value="{{department.id}}" *ngFor="let department of departments">
                {{department.name}}
              </option>
            </select>

            <div
              *ngIf="!userForm.get('departmentId').valid && userForm.get('departmentId').touched"
              class="error-message small">
              Campo requerido
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-sm-3">
            <label for="costCenterId">Centro de Costo</label>
          </div>
          <div class="col-sm-9">
            <select
              id="costCenterId"
              class="form-control"
              formControlName="costCenterId">
              <option value="">Selecciona una opción</option>
              <option value="{{costCenter.id}}" *ngFor="let costCenter of costCenters">
                {{costCenter.name}}
              </option>
            </select>

            <div
              *ngIf="!userForm.get('costCenterId').valid && userForm.get('costCenterId').touched"
              class="error-message small">
              Campo requerido
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-sm-3">
            <label for="roleId">Rol</label>
          </div>
          <div class="col-sm-9">
            <select
              id="roleId"
              class="form-control"
              formControlName="roleId">
              <option value="">Selecciona una opción</option>
              <option value="{{role.id}}" *ngFor="let role of roles">
                {{role.name}}
              </option>
            </select>

            <div
              *ngIf="!userForm.get('roleId').valid && userForm.get('roleId').touched"
              class="error-message small">
              Campo requerido
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-sm-3">
            <label for="email">Correo</label>
          </div>
          <div class="col-sm-9">
            <input
              id="email"
              type="email"
              class="form-control"
              formControlName="email">

            <div
              *ngIf="!userForm.get('email').valid && userForm.get('email').touched"
              class="error-message small">
              Campo requerido
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-sm-3">
            <label for="username">Usuario</label>
          </div>
          <div class="col-sm-9">
            <input
              id="username"
              type="text"
              class="form-control"
              formControlName="username">

            <div
              *ngIf="!userForm.get('username').valid && userForm.get('username').touched"
              class="error-message small">
              Campo requerido
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-sm-3">
            <label for="qrCode">Código QR</label>
          </div>
          <div class="col-sm-9">
            <input
              id="qrCode"
              type="text"
              class="form-control"
              formControlName="qrCode">

            <div
              *ngIf="!userForm.get('qrCode').valid && userForm.get('qrCode').touched"
              class="error-message small">
              Campo requerido
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-sm-3">
            <label for="password">Contraseña</label>
          </div>
          <div class="col-sm-9">
            <input
              id="password"
              type="password"
              class="form-control"
              formControlName="password">

            <div
              *ngIf="!userForm.get('password').valid && userForm.get('password').touched"
              class="error-message small">
              Campo requerido
            </div>
          </div>
        </div>
      </div>

      <div class="form-actions text-right">
        <button
          type="submit"
          class="btn btn-success action"
          [disabled]="!userForm.valid">
          Save
        </button>
        <button
          type="button"
          class="btn btn-danger action"
          (click)="onCancel()">
          Cancel
        </button>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6">
      <div class="form-group" *ngIf="editMode">
        <div class="row">
          <div class="col-sm-3">
            <label for="profilePicture">Foto</label>
          </div>
          <div class="col-sm-9 upload-input-container">
            <input
              #imageInput
              id="profilePicture"
              type="file"
              name="profilePicture"
              class="form-control"
              (change)="profilePictureSelected($event)">

            <button
              type="button"
              class="btn btn-primary upload-btn"
              (click)="uploadProfilePicture()">
              {{ profilePictureFileExist ? 'Cambiar' : 'Subir' }}
            </button>
          </div>
        </div>
      </div>

      <div *ngIf="!editMode">
        <h5 class="image-placeholder text-center">
          Guarda el usuario para poder subir su foto de perfil.
        </h5>
      </div>

      <div class="image-preview mb-3" *ngIf="profilePicturePreviewUrl">
        <img
          [src]="profilePicturePreviewUrl"
          height="300"
          (error)="userProfilePictureNotFound($event)" />
      </div>
    </div>
  </div>
</form>