.nav-link.user-avatar {
  padding: 0.3rem 0.5rem;

  i.fa {
    font-size: 2rem;
  }
}

@keyframes shadow-pulse
{
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
  }
}

.container:after {
  content: "";
  background-image: url("src/assets/ave.png");
  background-repeat: no-repeat;
  background-position: top center;
  opacity: 0.07;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
