<div *ngIf="userMenuExists() && !loading">
  <app-menu-list-header [actualDate]="actualDate" [userMenu]="userMenu"></app-menu-list-header>

  <ngb-tabset *ngIf="dayMenuExists() && userMenuExists() && userMenu.id !== undefined" [justify]="'justified'" class="overflow-auto">
    <ngb-tab *ngFor="let meal of this.mealConstants">
      <ng-template ngbTabTitle>
        <b><i>{{ getMealNameByCode(meal) }}</i></b>
      </ng-template>
      <ng-template ngbTabContent>
        <div class="mt-md-4 card-deck">
          <div class="d-flex card text-left planning-detail" *ngFor="let menu of dayMenu.getMealsByMealCode(meal)"
               (click)="onMenuClicked(menu)">
            <app-menu-item [menu]="menu" [isSelected]="isSelected(menu)"></app-menu-item>
          </div>
        </div>
        <button class="btn btn-primary btn-lg float-md-right mt-md-3 btn-static font-weight-bold"
                (click)="onActionClicked()"
                [class.btn-static-ready]="menusReady() && !userMenu.alreadySent()"
                [disabled]="userMenu.alreadySent() || !menusReady()">Enviar</button>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
