<!-- Create new menu Modal -->

<div class="modal-header">
  <h3 class="modal-title text-info">Crea un nuevo menú</h3>
</div>

<div class="modal-body">
  <app-loader-simple [isLoading]="!(meals && categories)"></app-loader-simple>
  <form *ngIf="meals && categories"
        class="col-md"
        [formGroup]="formGroup">
    <div class="div-form">
      <label for="newMenuTitle">Título:</label>
      <input type="text" placeholder="Título"
             id="newMenuTitle"
             class="form-control" formControlName="title"/>
    </div>
    <div class="div-form">
      <label for="newMenuDescription">Descripción:</label>
      <textarea placeholder="Descripción"
                id="newMenuDescription"
                class="form-control" formControlName="description"></textarea>
    </div>
    <div class="div-form">
      <label for="newMenuMealId">Tipo:</label>
      <ng-select id="newMenuMealId" name="meals" formControlName="meal">
        <ng-option *ngFor="let meal of meals" [value]="meal.id">
          {{ meal.name }}
        </ng-option>
      </ng-select>
    </div>
    <div class="div-form">
      <label for="newMenuCategoryId">Categoría:</label>
      <ng-select id="newMenuCategoryId" name="categories" formControlName="category">
        <ng-option *ngFor="let category of categories" [value]="category.id">
          {{ category.name }}
        </ng-option>
      </ng-select>
    </div>
      <div class="d-flex text-center justify-content-center" *ngIf="imageSelected">
        <div class="dropdown-toggle card card-image-container" data-toggle="dropdown">
          <img src="{{fileUploaderService.getImage(imageContainer, imageSelected)}}"
               class="card-image-selected">
        </div>
        <div class="dropdown-menu" aria-labelledby="buttonActions">
          <div class="d-flex card-image-selector">
            <img *ngFor="let image of images" class="dropdown-item card-image"
                 src="{{fileUploaderService.getImage(imageContainer, image)}}"
                 (click)="imageSelected = image">
          </div>
        </div>
    </div>
  </form>

</div>

<div class="modal-footer">
  <button type="button" class="btn btn-cancel"
          (click)="cancelAction()" [disabled]="isUploading">Cancelar</button>
  <button type="button" ngbAutofocus class="btn btn-ok"
          (click)="validate()">
    <span *ngIf="!isUploading">Crear Menú</span>
    <app-loader-simple [isLoading]="isUploading" [isSmall]="true" [isWithMargin]="false"></app-loader-simple>
  </button>
</div>
