<div class="mt-4">
  <div *ngIf="planningService.loading" class="spinner-grow text-info mt-5" role="status">
    <span class="sr-only">Cargando...</span>
  </div>

  <ng-template #customDay let-date let-currentMonth="currentMonth"
               let-selected="selected" let-disabled="disabled" let-focused="focused">
      <!--  TODO : Agregar un icono cuando no llego -->
      <div class="custom-day"
           [class.bg-primary]="selected"
           [class.custom-day-out-month]="date.month !== currentMonth"
           [class.custom-day-na]="isNA(date) && date.month === currentMonth"
           [class.custom-day-sent]="isSent(date) || isApproved(date)"
           [class.custom-day-pending]="isPending(date)">
        <i *ngIf="isAction(date); else dayNumber"
           (click)="onConfirmWeek(date)" class="fas fa-eye icon-hover custom-day-friday"></i>
        <ng-template #dayNumber><p>{{ date.day }}</p></ng-template>
      </div>
  </ng-template>

  <ngb-datepicker *ngIf="!planningService.loading"
                  [maxDate]="maxDate"
                  [minDate]="minDate"
                  [displayMonths]="1"
                  [markDisabled]="isNA || isAction"
                  [dayTemplate]="customDay"
                  (select)="onSelect($event)"
                  [navigation]="select"></ngb-datepicker>
</div>
