@orange-color: #F0AD4E;
@orange-light-color: #FFCC85;
@green-color: #A5CCA0;

.icon-disabled {
  color: dimgray;
}
.icon-hover {
  &:hover {
    cursor: pointer;
    background-color: #bdce1d;
  }
}

.action-hover {
  &:hover {
    cursor: pointer;
    color: #bdce1d;
  }
}

.pagination-fixed {
  position: fixed;
  bottom: 2%;
  right: 2%;

  opacity: 0.5;

  &:hover {
    opacity: 1;
  }

  a {
    color: black;
  }
}

.page-link-hover {
  cursor: pointer;
  color: #bdce1d
}

.btn-static {
  position: fixed;
  bottom: 10%;
  right: 5%;
}

.actions-group {
  display: flex;
  flex-wrap: wrap;
}

.planning-detail-available {
}
.planning-detail-pending {
  color: @orange-color;
}
.planning-detail-published {
  color: green;
}

.day-information {
  font-weight: bold;
  small {
    width: 100%;
    margin: 10px 0;
    font-style: italic;
  }
}

.day-content {
  margin: 15px;
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .table-content {
    margin-bottom: 200px;
    font-size: 0.7em;
  }
  .actions-group {
    button, div {
      width: 100%;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .table-content {
    margin-bottom: 200px;
    font-size: 0.8em;
  }
  .actions-group {
    button, div {
      width: 100%;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .table-content {
    margin-bottom: 200px;
    font-size: 0.8em;
  }
  .actions-group {
    button, div {
      width: 100%;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .table-content {
    margin-bottom: 200px;
  }
  .actions-group {
    button, div {
      width: 100%;
    }
  }
}
