@orange-color: #F0AD4E;
@orange-light-color: #FFCC85;
@green-color: #A5CCA0;

.icon-disabled {
  color: dimgray;
}
.icon-hover {
  &:hover {
    cursor: pointer;
    background-color: #bdce1d;
  }
}

.action-hover {
  &:hover {
    cursor: pointer;
    color: #bdce1d;
  }
}

.pagination-fixed {
  position: fixed;
  bottom: 2%;
  right: 2%;

  opacity: 0.5;

  &:hover {
    opacity: 1;
  }

  a {
    color: black;
  }
}

.page-link-hover {
  cursor: pointer;
  color: #bdce1d
}

.btn-static {
  position: fixed;
  bottom: 10%;
  right: 5%;
}

.btn-action {
  background-color: #bdce1d;
}

.btn-action-secondary {
  background-color: #7D8720;
}

.actions-group {
  display: flex;
  flex-wrap: wrap;
}

.planning-detail-available {
}
.planning-detail-pending {
  color: #966115;
}
.planning-detail-published {
  color: #388E3CB2;
}

.day-information {
  font-weight: bold;
  small {
    width: 100%;
    margin: 10px 0;
    font-style: italic;
  }
}

.day-content {
  margin: 15px;
}

.table-content {
  flex-wrap: wrap;
}

// Extra large devices (large desktops, 1200px and up)
@media screen {
  .table-content {
    margin-bottom: 200px;
  }
}

// Medium devices (tablets, 768px and up)
@media screen and (max-width: 991.98px) {
  .table-content {
    margin-bottom: 200px;
    font-size: 0.8em;
  }
  .actions-group {
    flex-wrap: nowrap;
    button {
      font-size: 0.9em;
      border-radius: 0;
      margin-left: 0;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media screen and (max-width: 767.98px) {
  .table-content {
    margin-bottom: 200px;
    font-size: 0.8em;
  }
  .actions-group {
    flex-wrap: wrap;
    button, div {
      width: 100%;
      margin-left: 0;
    }
    button {
      font-size: 0.9em;
      border-radius: 0;
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@media screen and (max-width: 575.98px) {
  .table-content {
    margin-bottom: 200px;
    font-size: 0.7em;
  }
  .actions-group {
    flex-wrap: wrap;
    button, div {
      width: 100%;
      margin-left: 0;
    }
    button {
      font-size: 0.8em;
      border-radius: 0;
    }
  }
}
