/* You can add global styles to this file, and also import other style files */

[disabled] {
    cursor: not-allowed;
}

input,
select {
    &.ng-invalid.ng-touched {
        border: 1px solid red;
    }
}

.form-actions {
    .action {
        margin: 5px;
    }
}